<footer>
  <a href="https://github.com/martinval11" target="_blank" rel="noopener noreferrer">
    Made with ❤️ by Martin
  </a>
</footer>

<style>
  footer {
    padding: 1rem 1.5rem;
    border-top: 1px solid var(--border-color);
    text-align: center;

    & a {
      color: var(--hyperlink-color);
      text-decoration: none;
    }

    & a:hover {
      text-decoration: underline;
    }
  }
</style>
