---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Create color palettes in seconds!" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="author" content="Martín Valdez" />
    <meta name="robots" content="index, follow" />
    <link rel="apple-touch-icon" href="/favicon.png" />
    <meta property="og:url" content="https://palette-helper.vercel.app/" />
    <meta property="og:site_name" content="Palette Helper" />
    <meta property="og:type" content="website" />
    <meta property="og:image" itemprop="image primaryImageOfPage" content="/favicon.png" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:domain" content="https://palette-helper.vercel.app/" />
    <meta name="twitter:title" property="og:title" itemprop="name" content="Palette Helper" />
    <meta name="twitter:description" property="og:description" itemprop="description" content="Create color palettes in seconds!" />
		<link rel="canonical" href="https://palette-helper.vercel.app/">
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	* {
		padding: 0;
		margin: 0;
	}

	*::before, *::after {
		box-sizing: border-box;
	}

	body {
		font-family: system-ui, sans-serif;
		background: #13151a;
		color: #fff;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
